<h1>Tasks</h1>

<%= link_to tasks_path, class: 'btn btn-default btn-xs' do %>
  <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Voltar
<% end %>
<br><br>

<h2><%= @task.name %></h2>
<p><%= @task.done ? "Done" : "Pending" %></p>
<p><%= @task.description %></p>
